module.exports = {
  hostname: 'http://localhost:8080',
  listen: {
    ip: '0.0.0.0',
    port: 8989,
  },
  mysql: {
    host: '',
    username: '',
    password: '',
    database: '',
  },
  email: {
    host: '',
    port: 465,
    secure: true,
    username: '...@...',
    password: '',
    from: 'Frilansare Sverige <...@...>',
    bcc: '...@...',
  },
  templates: {
    confirmation: `
      Hej!

      Det konsultuppdrag med rubriken '[[TITLE]]' som du skickade till Frilansare Sverige har publicerats. Om du vill uppdatera den kan du använda dig av följande länk.
      [[URL]]

      Tänk på att hålla länken hemlig, eftersom vem som helst som har den kan uppdatera publikationen.
      
      Har du några frågor går det bra att svara på det här e-brevet.

      Hälsningar från Frilansare Sverige
    `,
    slackAssignment: `
    *[[TITLE]]*

    *Uppdragsgivare:* [[CUSTOMER_NAME]]
    
    *Beskrivning:*
    [[DESCRIPTION]]
    
    *Kontaktuppgifter:*
    [[CONTACT]]
    `,
    slackAssignmentComment: `
    *Komplettering*:
    [[COMMENT]]
    `,
  },
  slack: {
    channels: {
      'BROKER': '#...',
      'DIRECT': '#...',
    },
    token: '',
  },
}